@media (max-width: 712px) {
  header {
    display: flex;
    display: inline;
    display: inline-block;
    font-family: "Concert One", sans-serif;
    color: #42491f;
    background-color: #868e5d;
    align-items: content;
    text-align: center;
  }
.modificarIcono {
  height: 50px;
  .bodyServicios {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .modificarIndex {
    flex-direction: column;
    width: 100%;
  }

  .imagenIndex {
    width: 100%;
  }

  p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .footer {
    width: 100%;
    margin-bottom: 0;
  }
}
