.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lxgw-wenkai-mono-tc-regular {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #e1ebb6;
  margin: 0%;
  width: 100%;
}
.li-menu {
  text-decoration: none;
  display: inline;
  font-family: "Concert One", sans-serif;
}
h1 {
  font-family: "Concert One", sans-serif;
  color: #42491f;
  font-size: 1.3rem;
}
.nav-menu {
  background-color: #868e5d;
  width: 100%;
  height: 65px;
  border-top: 0%;
}

.modificarSubtitulos {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
p {
  font-family: "LXGW WenKai Mono TC", monospace;
  color: black;
  margin-left: 13%;
  margin-right: 13%;
}

.modificarTamañoImagenes {
  width: 570px;
  height: 570px;
  margin-left: 398px;
}
.modificarIcono {
  width: 50px;
  height: 50px;
  align-items: center;
  padding: 0.5em;
}
header {
  width: 100%;

  display: flex;
  display: inline;
  display: inline-block;
  font-family: "Concert One", sans-serif;
  color: #42491f;
  background-color: #868e5d;
  align-items: content;
  text-align: center;
  margin: -10px;
  width: 100%;
}

.logo {
  display: flex;
  width: 35rem;
  justify-content: center;
  align-content: flex-end;
  flex-direction: row;
}
.section {
  display: flex;
}
.titulo-navegador {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}
.imagenesEventos {
  display: inline;
  width: 21rem;
}
.menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.ul-footer {
  font-family: "Concert One", sans-serif;
  color: #42491f;
  text-decoration: none;
  list-style-type: none;
}
.footer {
  display: inline;
  display: flex;
  justify-content: center;
  background-color: #848e54;
  width: auto;
}
.titulo-footer {
  font-family: "Concert One", sans-serif;
  color: #42491f;
}
.tituloQuienSoy {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.tituloServicios {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.tituloEventos {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.tituloContacto {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.formulario {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
}
.formularioContacto {
  padding-left: 28%;
}
.imagenFormulario {
  padding-left: 33%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "textouno textouno"
    "textodos imagenuno";
  grid-template-rows: 12% 87%;
  grid-template-columns: 50% 50%;
  height: 475px;
  justify-self: center;
}
.grid-item-uno {
  display: grid;
  grid-area: textouno;
  height: 10%;
}
.grid-item-dos {
  display: grid;
  grid-area: textodos;
  width: 76%;
  height: 29%;
}
.grid-item-tres {
  display: grid;
  grid-area: imagenuno;
  height: 90%;
  margin-left: 10%;
  margin-top: 60px;
}
.mainQuienSoy {
  height: 583px;
}
.modificarIndex {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.imagenQuienSoy {
  width: 73%;
}
@media (max-width: 712px) {
  .body {
    display: flex;
    flex-direction: column;
  }
  .section {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-menu {
    flex-direction: column;
    margin-right: 0%;
  }

  .modificarIndex {
    flex-direction: column;
    height: 868px;
  }
  .imagenIndex {
    width: 70%;
  }
  .p {
    width: 80%;
  }
  .modificarHeader {
    width: 100%;
  }
  .mediaQueriesIndex {
    width: 100%;
  }
  .footer {
    width: 100%;
    margin-bottom: -6%;
  }
  .grid-container {
    height: 51rem;
    display: grid;
    grid-template-rows: 100px 343px 334px;
    grid-template-columns: 50%;
    grid-template-areas:
      "textouno"
      "textodos"
      "imagenuno";
  }
  .mainQuienSoy {
    height: 54rem;
  }
  .imagenQuienSoy {
    height: 50%;
  }
  .imagenesServicios {
    height: 100px;
  }
}
@media (min-width: 400px) and (max-width: 712px) {
  .grid-container {
    height: 51rem;
    display: grid;
    grid-template-rows: 100px 283px 329px;
    grid-template-columns: 100%;
    grid-template-areas:
      "textouno"
      "textodos"
      "imagenuno";
  }
}
@media (max-width: 399px) {
  .grid-container {
    height: 51rem;
    display: grid;
    grid-template-rows: 100px 431px 334px;
    grid-template-columns: 100%;
    grid-template-areas:
      "textouno"
      "textodos"
      "imagenuno";
  }
}
.tamañoCarousel {
  width: 30%;
}
