.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lxgw-wenkai-mono-tc-regular {
  font-family: "LXGW WenKai Mono TC", monospace;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #e1ebb6;
  margin: 0%;
  width: 100%;
}
.li-menu {
  text-decoration: none;
  display: inline;
  font-family: "Concert One", sans-serif;
}

.nav-menu {
  background-color: #868e5d;
  width: 100%;
  height: 65px;
  border-top: 0%;
}

.modificarSubtitulos {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  padding-bottom: 2%;
}
p {
  font-family: "LXGW WenKai Mono TC", monospace;
  color: black;
  margin-left: 13%;
  margin-right: 13%;
}

.modificarTamañoImagenes {
  width: 570px;
  height: 570px;
  margin-left: 398px;
}
.modificarIcono {
  width: 50px;
  height: 50px;
  align-items: center;
  padding: 0.5em;
}
header {
  width: 100%;

  display: flex;
  display: inline;
  display: inline-block;
  font-family: "Concert One", sans-serif;
  color: #42491f;
  background-color: #868e5d;
  align-items: content;
  text-align: center;
  width: 100%;
}

.logo {
  display: flex;
  width: 35rem;
  justify-content: center;
  align-content: flex-end;
  flex-direction: row;
}
.section {
  display: flex;
}
.titulo-navegador {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}
.imagenesEventos {
  display: inline;
  width: 21rem;
}
.menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.ul-footer {
  font-family: "Concert One", sans-serif;
  color: #42491f;
  text-decoration: none;
  list-style-type: none;
}
.footer {
  display: inline;
  display: flex;
  justify-content: center;
  background-color: #848e54;
  width: auto;
}
.titulo-footer {
  font-family: "Concert One", sans-serif;
  color: #42491f;
}
.tituloQuienSoy {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.tituloServicios {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.tituloEventos {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.tituloContacto {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.formulario {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
}
.formularioContacto {
  padding-left: 28%;
}
.grid-quiensoy {
  display: grid;
  grid-template-areas:
    "textouno textouno"
    "textodos imagenuno";
  grid-template-rows: 12% 87%;
  grid-template-columns: 50% 50%;
  height: 475px;
  justify-self: center;
}
.grid-item-uno {
  display: grid;
  grid-area: textouno;
  height: 10%;
  padding-top: 2%;
}
.grid-item-dos {
  display: grid;
  grid-area: textodos;
  width: 76%;
  height: 29%;
  margin-top: 20%;
  padding-left: 5%;
}
.grid-item-tres {
  display: grid;
  grid-area: imagenuno;
  margin-left: 10%;
  margin-top: 30px;
}
.mainQuienSoy {
  height: 583px;
  padding-bottom: 3%;
}
.modificarIndex {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}
.imagenQuienSoy {
  width: 60%;
}

.tamañoCarousel {
  width: 30%;
}
.coloresNavbar {
  color: #e5eacd;
}
.navbar-expand-lg .navbar-collapse {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
}
.modificandoFooterBootstrap {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  color: #e1ebb6;
}
.nav-link {
  color: #e1ebb6;
  font-family: "Concert One", sans-serif;
}
.active {
  color: #e1ebb6;
}
.footer {
  color: #4c5231;
}
.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
  border: 0%;
}
.modificarBody {
  padding: 0%;
  border: 0%;
  margin: 0%;
  height: 100%;
  width: 100%;
}
.container {
  padding: 0%;
  border: 0%;
  margin: 0%;
  height: 100%;
  width: 100%;
}
.imagenesServicios {
  width: 125px;
}
/* probando primer grid servicios */

.grid-container-servicios-consultoria {
  display: grid;
  grid-template-areas:
    "titulouno titulouno"
    "imagenuno textouno";
  grid-template-rows: 20% 80%;
  grid-template-columns: 6% 94%;
  justify-self: center;
  padding-left: 6%;
}
.grid-item-titulo-servicios-consultoria {
  display: grid;
  grid-area: titulouno;
  height: 100%;
  justify-self: center;
  padding-right: 7%;
}
.grid-item-texto-servicios-consultoria {
  display: grid;
  grid-area: textouno;
  width: 85%;
}
grid-item-imagen-servicios-consultoria {
  display: grid;
  grid-area: imagenuno;
  width: 75%;
}
/* probando segundo grid al revés servicios */

.grid-container-servicios-terapiafloral {
  display: grid;
  grid-template-areas:
    "tituloterapiafloral tituloterapiafloral"
    " textoterapiafloral imagenterapiafloral";
  grid-template-rows: 17% 83%;
  grid-template-columns: 94% 6%;
  justify-self: center;
  padding-right: 6%;
}
.grid-item-titulo-servicios-terapiafloral {
  display: grid;
  grid-area: tituloterapiafloral;
  height: 100%;
  padding-left: 5%;
}
.grid-item-texto-servicios-terapiafloral {
  display: grid;
  grid-area: textoterapiafloral;
  width: 85%;
}
grid-item-imagen-servicios-terapiafloral {
  display: grid;
  grid-area: imagenterapiafloral;
  width: 75%;
}
/* tercer grid servicios */

.grid-container-servicios-reiki {
  display: grid;
  grid-template-areas:
    "tituloreiki tituloreiki"
    "imagenreiki textoreiki";
  grid-template-rows: 20% 80%;
  grid-template-columns: 6% 94%;
  justify-self: center;
  padding-left: 6%;
}
.grid-item-titulo-servicios-reiki {
  display: grid;
  grid-area: tituloreiki;
  height: 100%;
  justify-self: center;
  padding-right: 7%;
}
.grid-item-texto-servicios-reiki {
  display: grid;
  grid-area: textoreiki;
  width: 85%;
}
.grid-item-imagen-servicios-reiki {
  display: grid;
  grid-area: imagenreiki;
}
/* cuarto grid servicios */

.grid-container-servicios-registros {
  display: grid;
  grid-template-areas:
    "tituloregistros tituloregistros"
    " textoregistros imagenregistros";
  grid-template-rows: 17% 83%;
  grid-template-columns: 94% 6%;
  justify-self: center;
  padding-right: 6%;
}
.grid-item-titulo-servicios-registros {
  display: grid;
  grid-area: tituloregistros;
  height: 100%;
  padding-left: 5%;
}
.grid-item-texto-servicios-registros {
  display: grid;
  grid-area: textoregistros;
  width: 85%;
}
grid-item-imagen-servicios-registros {
  display: grid;
  grid-area: imagenregistros;
  width: 75%;
}
/* ultimo grid servicios*/

.grid-container-servicios-terapiasensorial {
  display: grid;
  grid-template-areas:
    "tituloterapiasensorial tituloterapiasensorial"
    "imagenterapiasensorial textoterapiasensorial";
  grid-template-rows: 20% 80%;
  grid-template-columns: 6% 94%;
  justify-self: center;
  padding-left: 6%;
}
.grid-item-titulo-servicios-terapiasensorial {
  display: grid;
  grid-area: tituloterapiasensorial;
  height: 100%;
  justify-self: center;
  padding-right: 7%;
}
.grid-item-texto-servicios-terapiasensorial {
  display: grid;
  grid-area: textoterapiasensorial;
  width: 85%;
}
.grid-item-imagen-servicios-terapiasensorial {
  display: grid;
  grid-area: imagenterapiasensorial;
}
.fechasEventos {
  display: flex;
  justify-content: center;
}
.eventosProximos {
  display: flex;
  justify-content: space-around;
}
.eventosPasados {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4%;
}
.formularioContacto {
  width: 70%;
  padding-left: 0%;
}
.sectionFormularioContacto {
  display: flex;
  justify-content: center;
}
.sectionImagenFormulario {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}
.logoContacto {
  width: 15%;
}
.tituloContacto {
  padding-top: 1.1%;
}
.textoindex {
  padding-bottom: 2%;
}
.imagen-index {
  padding-bottom: 2%;
}
.navbar-expand-lg .navbar-collapse {
  flex-basis: auto;
  justify-content: center;
}
@media (max-width: 600px) {
  .imagen-index {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .grid-quiensoy {
    display: grid;
    grid-template-areas:
      "textouno"
      "textodos"
      "imagenuno";
    grid-template-rows: 20% 35% 66%;
    grid-template-columns: 100%;
    justify-self: center;
    height: 100%;
    unicode-bidi: embed;
  }
  .mainQuienSoy {
    height: 100%;
    display: grid;
    justify-content: center;
  }
  .tituloQuienSoy {
    padding-top: 0%;
  }
  .textoQuienSoy {
    margin-top: 0%;
    padding-left: 0%;
  }
  .grid-item-tres {
    display: grid;
    grid-area: imagenuno;
    margin-left: 0%;
    margin-top: 0%;
  }
  .grid-quiensoy {
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: 1fr;
    padding-bottom: 5%;
  }
  .imagenQuienSoy {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .textoQuienSoy {
    font-size: 70%;
  }
  .imagenQuienSoy {
    width: 50%;
  }
}
