$primary-color: #4c5231;
$secondary-color: #848e54;
$tertiary-color: #e5eacd;
$font-primary: "Concert One", sans-serif;
$font-secondary: "LXGW WenKai Mono TC", monospace;
$font-size-servicios: small;
p {
  font-family: "LXGW WenKai Mono TC", monospace;
  color: black;
  margin-left: 13%;
  margin-right: 13%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $tertiary-color;
}
%subtitulosservicios {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
}
%tamañoletrasserviciosmobile {
  font-size: small;
}
