$primary-color: #4c5231;
$secondary-color: #848e54;
$tertiary-color: #e5eacd;
$font-primary: "Concert One", sans-serif;
$font-secondary: "Calistoga", sans-serif;
p {
  font-family: "LXGW WenKai Mono TC", monospace;
  color: black;
  margin-left: 13%;
  margin-right: 13%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $tertiary-color;
}
