@media (max-width: 768px) {
  .tituloContacto {
    font-size: 1rem;
  }
  .logoContacto {
    width: 30%;
  }
}

.tituloContacto {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.sectionFormularioContacto {
  display: flex;
  justify-content: center;
}
.formularioContacto {
  width: 70%;
  padding-left: 0%;
}
.sectionImagenFormulario {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  .logoContacto {
    width: 15%;
  }
}
