.titulosEventos {
  font-family: "Concert One", sans-serif;
  color: #4c5231;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
section {
  .modificarSubtitulos {
    font-family: "Concert One", sans-serif;
    color: #4c5231;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .fechasEventos {
    display: flex;
    justify-content: center;
  }
}
.eventosProximos {
  display: flex;
  justify-content: space-around;
}
.imagenesEventos {
  display: inline;
  width: 21rem;
}
