.titulosEventos {
  font-family: $font-primary;
  color: $primary-color;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
h1 {
  font-family: $font-primary;
  color: $primary-color;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.sectionEventosProximos {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: nowrap;
  padding-bottom: 2%;
  .modificarSubtitulos {
    font-family: $font-primary;
    color: $primary-color;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .fechasEventos {
    display: flex;
    justify-content: center;
  }
  .imagenesEventos {
    display: inline;
    width: 21rem;
  }
  .eventosProximos {
    display: flex;
    justify-content: space-around;
  }
}
.sectionEventosPasados {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 2%;
  .modificarSubtitulos {
    font-family: $font-primary;
    color: $primary-color;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .eventosPasados {
    display: flex;
    justify-content: space-around;
  }
  .textoEventosPasados {
    display: flex;
    justify-content: center;
  }
  .imagenesEventos {
    display: inline;
    width: 21rem;
  }
}
@media (max-width: 1024px) {
  .sectionEventosProximos {
    display: flex;
  }
  .sectionEventosPasados {
    display: flex;
    flex-direction: column;
  }
  .eventosProximos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 46rem;
  }
  .eventosPasados {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 70rem;
  }
  .imagenesEventos {
    gap: 20px;
  }
}
@media (max-width: 728px) {
  .sectionEventosProximos .imagenesEventos {
    width: 14rem;
  }
  .eventosProximos {
    height: 35rem;
  }
  .eventosPasados {
    height: 50rem;
  }
  .sectionEventosPasados .imagenesEventos {
    width: 14rem;
  }
}
