.navbar-expand-lg {
  flex-basis: auto;
  justify-content: center;
}
.modificandoFooterBootstrap {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  color: #e1ebb6;
}
.footer {
  display: inline;
  display: flex;
  justify-content: center;
  background-color: #848e54;
  width: auto;
  color: #4c5231;
}
