header {
  display: flex;
  display: inline;
  font-family: $font-primary;
  color: $primary-color;
  background-color: $primary-color;
  align-items: content;
  text-align: center;

  .navbar {
    background-color: $secondary-color;
    .coloresNavbar {
      color: $tertiary-color;
    }
  }
}
