.mainQuienSoy {
  min-height: 100%;
  .grid-quiensoy {
    display: grid;
    grid-template-areas:
      "textouno textouno"
      "textodos imagenuno";
    grid-template-rows: 28% 100%;
    grid-template-columns: 50% 50%;
    justify-self: center;
    align-items: center;
    justify-items: center;

    .tituloQuienSoy {
      font-family: "Concert One", sans-serif;
      color: $primary-color;
      display: flex;
      align-content: flex-start;
      justify-content: space-around;
    }
    .grid-item-uno {
      display: grid;
      grid-area: textouno;
      height: 10%;
    }
    .grid-item-dos {
      display: grid;
      grid-area: textodos;
      width: 76%;
    }
    .grid-item-tres {
      display: grid;
      grid-area: imagenuno;
    }
    .imagenQuienSoy {
      width: 55%;
    }
  }
  @media (max-width: 1024px) {
    .grid-quiensoy {
      display: grid;
      grid-template-areas:
        "textouno"
        "textodos"
        "imagenuno";
      grid-template-rows: 13% 51% 45%;
      grid-template-columns: 100%;
      justify-self: center;
      unicode-bidi: embed;
      align-content: center;
      padding-bottom: 29%;
      padding-top: 5%;
    }
    .mainQuienSoy {
      height: 100%;
      display: grid;
      justify-content: center;
      align-content: center;
    }
    .tituloQuienSoy {
      padding-top: 0%;
    }
    .textoQuienSoy {
      margin-top: 0%;
      padding-left: 0%;
    }
    .grid-item-tres {
      display: grid;
      grid-area: imagenuno;
      margin-left: 0%;
      margin-top: 0%;
    }
    .grid-quiensoy {
      gap: 10px;
      padding-bottom: 15%;
    }
    .imagenQuienSoy {
      width: 100%;
      max-width: 300px;
    }
  }
}
@media (max-width: 425px) {
  .textoQuienSoy {
    font-size: 70%;
  }
  .tituloQuienSoy {
    font-size: 130%;
  }
  .mainQuienSoy .grid-quiensoy .imagenQuienSoy {
    width: 70%;
    padding-bottom: 3rem;
  }
  .imagenQuienSoy {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .imagenQuienSoy {
    width: 100%;
    padding-bottom: 20%;
  }
}
