.tituloServicios {
  font-family: "Concert One", sans-serif;
  color: $primary-color;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}
.grid-container-servicios-consultoria {
  display: grid;
  grid-template-areas:
    "titulouno titulouno"
    "imagenuno textouno";
  grid-template-rows: 20% 80%;
  grid-template-columns: 6% 94%;
  justify-self: center;
  padding-left: 6%;

  .modificarSubtitulos {
    @extend %subtitulosservicios;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .grid-item-titulo-servicios-consultoria {
    display: grid;
    grid-area: titulouno;
    height: 100%;
    justify-self: center;
    padding-right: 7%;
  }
  .grid-item-texto-servicios-consultoria {
    display: grid;
    grid-area: textouno;
    width: 85%;
  }
  .imagenesServicios {
    width: 125px;
  }
  .grid-item-imagen-servicios-consultoria {
    display: grid;
    grid-area: imagenuno;
  }
}
.grid-container-servicios-terapiafloral {
  display: grid;
  grid-template-areas:
    "tituloterapiafloral tituloterapiafloral"
    " textoterapiafloral imagenterapiafloral";
  grid-template-rows: 17% 83%;
  grid-template-columns: 94% 6%;
  justify-self: center;
  padding-right: 6%;

  .modificarSubtitulos {
    @extend %subtitulosservicios;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .grid-item-titulo-servicios-terapiafloral {
    display: grid;
    grid-area: tituloterapiafloral;
    height: 100%;
    padding-left: 5%;
  }
  .grid-item-texto-servicios-terapiafloral {
    display: grid;
    grid-area: textoterapiafloral;
    width: 85%;
  }
  .imagenesServicios {
    width: 125px;
  }
  .grid-item-imagen-servicios-terapiafloral {
    display: grid;
    grid-area: imagenterapiafloral;
  }
}
.grid-container-servicios-reiki {
  display: grid;
  grid-template-areas:
    "tituloreiki tituloreiki"
    "imagenreiki textoreiki";
  grid-template-rows: 20% 80%;
  grid-template-columns: 6% 94%;
  justify-self: center;
  padding-left: 6%;
  .modificarSubtitulos {
    @extend %subtitulosservicios;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .grid-item-titulo-servicios-reiki {
    display: grid;
    grid-area: tituloreiki;
    height: 100%;
    justify-self: center;
    padding-right: 7%;
  }
  .grid-item-texto-servicios-reiki {
    display: grid;
    grid-area: textoreiki;
    width: 85%;
  }
  .imagenesServicios {
    width: 125px;
  }
  .grid-item-imagen-servicios-reiki {
    display: grid;
    grid-area: imagenreiki;
  }
}
.grid-container-servicios-registros {
  display: grid;
  grid-template-areas:
    "tituloregistros tituloregistros"
    " textoregistros imagenregistros";
  grid-template-rows: 17% 83%;
  grid-template-columns: 94% 6%;
  justify-self: center;
  padding-right: 6%;

  .modificarSubtitulos {
    @extend %subtitulosservicios;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .grid-item-titulo-servicios-registros {
    display: grid;
    grid-area: tituloregistros;
    height: 100%;
    padding-left: 5%;
  }
  .grid-item-texto-servicios-registros {
    display: grid;
    grid-area: textoregistros;
    width: 85%;
  }
  .imagenesServicios {
    width: 125px;
  }
  .grid-item-imagen-servicios-registros {
    display: grid;
    grid-area: imagenregistros;
  }
}
.grid-container-servicios-terapiasensorial {
  display: grid;
  grid-template-areas:
    "tituloterapiasensorial tituloterapiasensorial"
    "imagenterapiasensorial textoterapiasensorial";
  grid-template-rows: 20% 80%;
  grid-template-columns: 6% 94%;
  justify-self: center;
  padding-left: 6%;

  .modificarSubtitulos {
    @extend %subtitulosservicios;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .grid-item-titulo-servicios-terapiasensorial {
    display: grid;
    grid-area: tituloterapiasensorial;
    height: 100%;
    justify-self: center;
    padding-right: 7%;
  }
  .grid-item-texto-servicios-terapiasensorial {
    display: grid;
    grid-area: textoterapiasensorial;
    width: 85%;
  }
  .imagenesServicios {
    width: 125px;
  }
  .grid-item-imagen-servicios-terapiasensorial {
    display: grid;
    grid-area: imagenterapiasensorial;
  }
}
@media (max-width: 1034px) {
  .grid-container-servicios-consultoria {
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .modificarAnimacionesServicios {
      display: flex;
      justify-content: center;
    }
  }
  .grid-container-servicios-terapiafloral,
  .grid-container-servicios-reiki,
  .grid-container-servicios-registros {
    padding-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .grid-container-servicios-terapiasensorial {
    padding-top: 10%;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 5%;
  }
  .grid-item-texto-servicios-consultoria,
  .grid-item-texto-servicios-registros,
  .grid-item-texto-servicios-reiki,
  .grid-item-texto-servicios-terapiafloral,
  .grid-item-texto-servicios-terapiasensorial {
    font-size: $font-size-servicios;
  }
}
